@charset "utf-8";
/* szhd Document */
body,p,img,a,div,ul,li,h1,h2,h3,h4,h5,h6,br,table,td,form,input{margin:0;padding:0;}
/*table,ul,li,img{list-style:none;border:0;}*/
textarea {  
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */  
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */  
    box-sizing: border-box;         /* Opera/IE 8+ */  
	resize: none;                   /* extarea在Safari和Chrome中禁用调整大小功能 */
}
/*针对后台编辑器的内容，列表项*/
/*.editing ol{list-style-type:decimal;}
.editing ol li{list-style-type:decimal;}*/
.editing ul{list-style-type:disc;}
.editing ul li{list-style-type:disc;}
ul.n,ul.n li{list-style:disc;margin-left: 7px;}

table {border-collapse:collapse; border-spacing:0; } 
th,td {padding: 0;}
a{text-decoration:none;outline:none;cursor:pointer;}
a:active{star:expression(this.onFocus=this.blur());}
:focus{outline:0;}

/*间距*/
.floatL{float:left;display:inline;} .floatR{float:right;display:inline;}
.clear{clear:both;font-size:0;height:0;line-height:0;}

.marL{margin-left:10px;} .marR{margin-right:10px;} .marT{margin-top:10px;} .marB{margin-bottom:10px;} 
.mar_20L{margin-left:20px;} .mar_20R{margin-right:20px;} .mar_20B{margin-bottom:20px;}
.mar_30L{margin-left:30px;} .mar_30R{margin-right:30px;} .mar_30B{margin-bottom:30px;}

.height_1{height:1px;}
.height_10{height:10px;}
.height_20{height:20px;}

.tipLine{margin-left:5px;margin-right:5px;}
.btn{cursor:pointer;}
.line_solid_a{height:1px;line-height:0px;border-top:1px solid #cfcfcf;margin:11px auto;}

/*font*/
.font_a{color:#111;text-decoration:none;}
.font_a a:link,.font_a a:visited{color:#111;text-decoration:none;}
.font_a a:hover{color:#843e5d;text-decoration:none;}
.font_b{color:#4c4c4c;text-decoration:none;}
.font_b a:link,.font_b a:visited{color:#4c4c4c;text-decoration:none;}
.font_b a:hover{color:#843e5d;text-decoration:none;}
.font_c{color:#505050;text-decoration:none;}
.font_c a:link,.font_c a:visited{color:#505050;text-decoration:none;}
.font_c a:hover{color:#843e5d;text-decoration:none;}
.font_d{color:#646464;text-decoration:none;}
.font_d a:link,.font_d a:visited{color:#646464;text-decoration:none;}
.font_d a:hover{color:#843e5d;text-decoration:none;}
.font_e{color:#909090;text-decoration:none;}
.font_e a:link,.font_e a:visited{color:#909090;text-decoration:none;}
.font_e a:hover{color:#843e5d;text-decoration:none;}

.f_red{color:#843e5d;text-decoration:none;}
.f_red a:link,.f_red a:visited{color:#843e5d;text-decoration:none;}
.f_red a:hover{color:#f00;text-decoration:none;}

.f_white{color:#fff;text-decoration:none;}
.f_white a:link,.f_white a:visited{color:#fff;text-decoration:none;}
.f_white a:hover{color:#faedb3;text-decoration:none;}

.f_black{color:#000;text-decoration:none;}
.f_black a:link,.f_black a:visited{color:#000;text-decoration:none;}
.f_black a:hover{color:#c7000b;text-decoration:none;}

.f_blue{color:#00a0e9;text-decoration:none;}
.f_blue a:link,.f_blue a:visited{color:#00a0e9;text-decoration:none;}
.f_blue a:hover{color:#c7000b;text-decoration:none;}

.f_8{font-size:8px;-webkit-text-size-adjust: none; }
.f_10{font-size:10px;-webkit-text-size-adjust: none; }
.f_12{font-size:12px;}.f_14{font-size:14px;}
.f_16{font-size:16px;}.f_18{font-size:18px;}
.f_20{font-size:20px;}.f_22{font-size:22px;}
.f_24{font-size:24px;}.f_26{font-size:26px;}
.f_trans_up{text-transform:uppercase;}
.f_trans_low{text-transform:lowercase;}
.f_bold{font-weight:bold;}
.f_mline{ text-decoration:line-through;}
.f_underline{text-decoration:underline;}
.f_arial{font-family:Arial, Helvetica, sans-serif;}
.f_sti{font-family:"宋体";}
.f_hti{font-family:"黑体";}
.ptext_24{text-indent:24px;}
.txt_l{text-align:left;}.txt_m{text-align:center;}.txt_r{text-align:right;}


/*form*/
.input_a{width:535px;height:28px;line-height:28px;border:1px solid #d4d4d4;background:#fff;padding-left:3px;color:#979797;}
.input_b{width:184px;height:28px;line-height:28px;border:1px solid #b6b6b6;background:#fff;padding-left:3px;color:#979797;margin-bottom:13px;}
.select_b{width:184px;height:28px;line-height:28px;border:1px solid #b6b6b6;background:#fff;padding-left:3px;color:#979797;margin-bottom:13px;}

.btn_tj{width:94px;height:28px;line-height:28px;border:1px solid #742a43;background:#742a43;color:#fff;text-align:center;cursor:pointer;margin-right:12px;}
.btn_cz{width:94px;height:28px;line-height:28px;border:1px solid #b9b8b8;background:#fff;color:#969696;text-align:center;cursor:pointer;}

/*插入png图片透明*/
.mypng img {
azimuth: expression(
this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true);
}

/*frame*/
.body_div{width:1000px;margin:0 auto;text-align:center; min-height:440px;}
.marAtuo{margin:0 auto;}


	
/*子页*/
.child_banner{ width:100%; height:200px; overflow:hidden;margin-bottom:16px;}
.child_main{}
.child_l{width:247px;text-align:left;border-bottom:1px solid #e1e1e1;}
	.child_l h1{font-size:16px;font-weight:normal;height:30px;line-height:30px;overflow:hidden;text-indent:17px;border-left:1px solid #b60612;border-right:1px solid #b60612;border-top:1px solid #b60612; background-color:#d53730}
	.left_menu{ }
	.left_menu li{height:30px;font-size:14px;border-top:1px solid #f1f1f1;}
	.left_menu li a{padding-right:20px;overflow:hidden; height:30px;line-height:30px;display:block;background:url(../images/left_menu.png) no-repeat right -103px;text-indent:17px;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;}
	.left_menu li a:hover{color:#d53730; background-color:#eee;}	
	.left_menu li a.hover{color:#d53730; background-color:#eee;}
	.left_team{border:1px solid #b6b6b6;line-height:28px;padding:24px 20px;font-size:14px;margin-bottom:14px;margin-top:33px;}
	.left_team p{margin-bottom:5px;}
	
	.left_network{border:1px solid #b6b6b6;line-height:28px;padding:24px 20px;font-size:14px;margin-bottom:14px;margin-top:33px;padding-right:0px;}
	.left_network li{float:left;width:75px;height:30px;line-height:30px;overflow:hidden;}
	.left_network a{color:#111;text-decoration:none;}
	.left_network a:link,.left_network a:visited{color:#111;text-decoration:none;}
	.left_network a:hover{color:#d7000f;text-decoration:none;}

	
.child_r{width:718px;text-align:left;}
.child_r .tit_position{height:26px;line-height:26px;overflow:hidden;border-bottom:1px solid #9f9f9f;font-size:12px;padding-top:7px;margin-bottom:16px;}
.position_en{font-size:14px;font-weight:normal;color:#bebebe;height:16px;line-height:16px;border-left:2px solid #d53730;padding-left:7px;font-family:Arial;}
.position_cn{font-size:16px;font-weight:bold;color:#6d6d6d;height:27px;line-height:27px;margin-bottom:13px;}

.child_r .content{line-height:2;}

/*about*/
.list_honor{}
.list_honor li{border-bottom:1px dotted #acabab;font-size:14px;line-height:22px;padding-top:8px;padding-bottom:8px;padding-left:33px;background:url(../images/i_pdf.png) no-repeat 0px 10px;}

.list_customer{width:756px;padding-top:48px;}
.list_customer li{width:209px;float:left;display:inline;margin-right:43px;border-top:1px solid #e65c63;padding-bottom:28px;}
.list_customer li img{padding-top:15px;}
.list_customer li span{height:45px;line-height:45px;overflow:hidden;}

.list_history{}
.list_history li{border-bottom:1px solid #c9c9c9;clear:both;line-height:20px;padding-top:12px;padding-bottom:12px;}
.list_history li span{width:100px;float:left;color:#d32a33;font-size:14px;}
.list_history li .floatR{width:580px;}

.tit_history{height:60px;position:relative;background:url(../images/tit_history.png) no-repeat 0px bottom;}
.tit_history li{width:63px;float:left;display:inline;font-size:16px;text-align:center;cursor:pointer;}
.tit_history .list{margin-left:44px;width:630px;overflow:hidden;}
.tit_history .btn_history_l{position:absolute;left:0px;top:0px;cursor:pointer;}
.tit_history .btn_history_r{position:absolute;right:0px;top:0px;cursor:pointer;}

/*contact*/
.table_contact{border-top:1px solid #e55c63;border-bottom:1px solid #e55c63;padding-left:14px;margin-bottom:38px;font-size:14px;}
.table_msg{}
.table_msg td{padding-top:19px;padding-bottom:19px;padding-left:14px;border-bottom:1px dotted #9e9c9d;}
.table_msg td.tit{width:160px;background:#f4f2f3;padding-left:0px;text-align:center;}

.list_join{}
.list_join li{height:38px;line-height:38px;background:#fff;}
.list_join li.tit{height:33px;line-height:33px;background:#9e0a14;border-bottom:8px solid #fff;}
.list_join span{float:left;display:inline;overflow:hidden;border-left:1px solid #fff;border-right:1px solid #fff;padding-left:18px;}
.list_join span.t_name{width:338px;overflow:hidden;}
.list_join span.t_place{width:100px;overflow:hidden;}
.list_join span.t_num{width:100px;overflow:hidden;}
.list_join span.t_time{width:100px;overflow:hidden;}

.tit_join{font-size:14px;font-weight:bold;color:#333;border-bottom:1px dotted #cdcdcd;margin-bottom:20px;}


/*team*/
.list_team{}
.list_team li{clear:both;width:100%;display:block;padding-top:5px;padding-bottom:5px;height:auto;line-height:20px;font-size:14px;}
.list_team li.tit{border:1px solid #dfdfdf;font-size:16px;height:30px;line-height:30px;}
.list_team li.tit .t_email{font-size:16px;}
.list_team span{display:inline-block;height:auto;overflow:hidden;word-break:break-all; vertical-align:middle;padding-top:7px;padding-bottom:7px;}

.list_team tr{display:block;padding-top:5px;padding-bottom:5px;line-height:20px;font-size:14px;}
.list_team tr.tit{border:1px solid #dfdfdf;font-size:16px;}
.list_team tr.tit .t_email{font-size:16px;}
.list_team td{display:block;overflow:hidden;word-break:break-all; vertical-align:middle;padding-top:7px;padding-bottom:7px;}

.list_team .t_name{width:99px;padding-left:10px;padding-right:0px;text-align:center;}
.list_team .t_email{width:222px;padding-right:0px;text-align:center;font-size:12px;}
.list_team .t_job{width:166px;padding-right:20px;text-align:center;}
.list_team .t_place{width:160px;padding-right:20px;text-align:center;}



.bgcolor_a{background:#f5f4f4;}

/*business*/
.tit_business_a{height:47px;line-height:47px;overflow:hidden;border-bottom:1px solid #d7d7d7;margin-bottom:30px;}
.tit_business_a span{display:block;width:137px;padding-left:30px;background:#742a43;font-size:14px;}
.tit_business_b{height:47px;line-height:47px;overflow:hidden;margin-bottom:30px;background:#742a43 url(../images/arrow_r.png) no-repeat 670px 13px;}
.tit_business_b span{padding-left:30px;font-size:14px;display:block;color:#fff;}

.list_business_a{}
.list_business_a li{float:left;display:inline;width:238px;font-size:14px;line-height:24px;margin-bottom:38px;}
.list_business_a li img{border:1px solid #d7d7d7;display:block;float:none;margin-bottom:5px;}
.list_business_a li .floatR{display:block;float:none;padding-right:10px;height:146px;overflow:hidden;}
.list_business_a li .floatR{width:170px;word-break:break-all;margin-right:10px;}

.list_business_b{}
.list_business_b li{float:left;display:inline;width:163px;font-size:14px;line-height:30px;margin-right:16px;margin-bottom:18px;}
.list_business_b li img{border:1px solid #d7d7d7;}
.p_blank{height:5px;}

/*news*/
.list_news{}
.list_news .one{border-bottom:1px solid #d9d6d6;line-height:18px;padding-top:15px;padding-bottom:20px;color:#7d7d7d;}
.list_news .one h3{font-size:14px;font-weight:normal;line-height:30px;}
.list_news .one h3 span.floatR{font-size:12px;color:#7d7d7d;}

.list_news_2{}
.list_news_2 li{height:43px;line-height:43px;overflow:hidden;font-size:14px;padding-left:22px;background:url(../images/dian_a.png) no-repeat 0px 21px;}
.list_news_2 li span.floatR{font-size:12px;color:#7d7d7d;padding-left:10px;}

.list_news_3{}
.list_news_3 .one{width:325px;height:176px;overflow:hidden;float:left;display:inline;margin-right:34px;margin-bottom:55px;}
.list_news_3 .one img{float:left;margin-right:11px;}
.list_news_3 h3{font-size:12px;font-weight:normal;line-height:15px;padding-bottom:22px;background:url(../images/line_a.png) no-repeat right bottom;margin-bottom:44px;}
.list_news_3 .f_red{border:1px solid #e3e3e3;padding:3px 13px;}

.news_con{line-height:2;padding-bottom:20px;}
.news_con .news_tit_a{text-align:center;font-size:16px;font-weight:normal;color:#333;line-height:38px;padding-top:14px;}
.news_con .news_tit_b{text-align:center;font-size:12px;font-weight:normal;color:#999;border-bottom:1px solid #d9d6d6;padding-bottom:27px;margin-bottom:20px;}


/*page*/
.page{width:100%;}
.page .page_con{text-align:center;padding-top:42px;padding-bottom:42px;}
.page .page_con img{vertical-align:top;}
.page .page_con a{color:#333;background:#f0f0f0;line-height:17px;margin-left:4px;margin-right:4px;padding:4px;text-decoration:none;}
.page .page_con a:hover,.page .page_con a.check{color:#00a0e9;background:#f0f0f0;text-decoration:none;}
.page span{margin-left:4px;margin-right:4px;}
.page .input_page{width:28px;height:17px;border:1px solid #ddd;margin-left:5px;margin-right:5px;}

/*site*/
.map_con{background:url(../images/map_line.jpg) no-repeat 0px 16px;}
.map_red{height:29px;background:url(../images/map_red.jpg) no-repeat 0px 0px;margin-bottom:5px;}
.map_red span{height:25px;line-height:25px;padding-left:11px;}
.map_tit{height:42px;padding-top:25px;}
.map_tit span{padding:4px 15px;line-height:17px;background:#959595;}
.map_tit .map_vline{width:70px;height:21px;padding-top:4px;overflow:hidden;background:url(../images/map_vline.jpg) repeat-y center bottom;}
.map_list{line-height:25px;}
.map_list .one{float:left;display:inline;padding-left:15px;padding-right:15px;background:#fff;border:1px solid #dcdcdc;margin-bottom:5px;}

/* Map */
#ChinaMap{width:500px;margin:0 auto;}
/* 提示自定义 */
.stateTip, #StateTip{display:none; position:absolute; padding:8px; background:#fff; border:2px solid #2385B1; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size:12px;color:#333;}

.mapInfo i{ display:inline-block; width:15px; height:15px; margin-top:5px; line-height:15px; font-style:normal; background:#aeaeae; color:#fff; font-size:11px; font-family: Tahoma; -webkit-border-radius:15px; border-radius:15px; text-align:center}
.mapInfo i.active{background:#E27F21;}
.mapInfo span{ padding:0 5px 0 3px;}
.mapInfo b{ font-weight:normal; color:#2770B5}

/*导航*/
.menu{width:742px;position:relative;z-index:9999;}
.m-nav-item{position:relative;float:left;display:inline;font-size:14px;line-height:24px;padding-bottom:23px;border-bottom:2px solid #fff;margin-left:50px;}
.m-nav .dropdown-menu{display:none;}
.m-nav .dropdown-menu{position:absolute;left:0px;top:49px;width:87px;border-top:none; border-radius:0 0 3px 3px;background:#fff;border:1px solid #742a43;font-size:12px;padding-top:5px;padding-bottom:5px;}
.m-nav .dropdown-menu li{text-align:left;padding-left:10px;padding-right:10px;background:#fff;}
.m-nav .dropdown-menu a:hover{color: #06c; text-decoration:underline; }

/*Dropdwon Nav*/
.m-nav-item.active .dropdown-menu{display:block;}
.m-nav-item.active{border-bottom:2px solid #742a43;}
.m-nav-item.active2{box-shadow:none; border-color:#fff; background:none;}

.m-nav .m-business{width:200px;}
.m-business li a{width:145px;background:url(../images/u-icon-list.gif) left center no-repeat;}
.m-nav .dropdown-menu.m-business a:hover{text-decoration:underline; background:url(../images/u-icon-list.gif) left center no-repeat;}
.m-nav .m-network{width:285px;}
.m-nav .m-network dt{padding:10px 0; margin-bottom:10px; border-bottom:1px solid #eee;}
.m-nav .m-network li{float:left; margin:0;width:75px;}
.m-nav .m-network li a{background:url(../images/small-link-arrow.png) left center no-repeat;}
.m-nav .m-network li a:hover{text-decoration:underline; color: #06c;background:url(../images/small-link-arrow.png) left center no-repeat;}

.m-nav .m-news{width:100px;}

/*float_message*/
.float_message{width:236px;height:261px;overflow:hidden;position:fixed;left:0px;bottom:-261px;}
.float_message .tit{height:31px; cursor:pointer;}
.float_message .con{width:218px;height:222px;overflow:hidden;padding-left:10px;padding-right:6px;padding-top:8px;padding-bottom:0px;background:#f5f5f5;border:1px solid #975248;}
.float_message p{margin-bottom:8px;}
.float_message label{height:20px;line-height:20px;background:#fff;border:1px solid #cdcdcd;border-right:0;padding-top:1px;padding-left:3px;padding-right:3px;}
.input_m{width:161px;height:20px;line-height:20px;background:#fff;border:1px solid #cdcdcd;color:#666;}
.texta_m{width:208px;height:94px;line-height:20px;background:#fff;border:1px solid #cdcdcd;color:#666;}


/*新地图*/
.map_new{ position:relative;width:718px;height:750px;}
.i_map{position:absolute;}
.i_map a{display:block;width:14px;height:14px;line-height:14px;text-align:center;color:#ed0b0f;}
.i_map span{display:none;position:absolute;top:-18px;left:0px;height:18px;line-height:18px;background:#ed0b0f;color:#fff;width:146px;padding:0px 5px;}
.i_map:hover span{display:none;}